<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <title>Yasinski</title>
  </head>
  <body class="inner-page">
    {{>header}}
    <main class="container">
      <div class="row">
        <aside class="col-lg-3 col-sm-6">
          <figure>
              <img class="photo" src="./image/photo.jpg" alt="photo">
          </figure>
          <section class="side profile">
            <h2>profile</h2>
            <p> A diligent and highly organized specialist who is 
              ready to ensure accurate adt effective implmentation of all tasks. 
              Aimed at getting the best results both as a team member, as well as 
              independently. Willing to develop as a specialist in order to
              meet all the customer's and management's requirements.</p>
          </section>
          <section class="side hobbies">
            <h2>hobbies</h2>
            <p> I paly guitar in a rock-band. I also like to listen to music, watch good movies and
              play in basketball</p>
          </section>
          <section class="side contact">
            <h2>contacts</h2>
            <ul class="contact-list">
              <li class="cantact-item"><a href="#">Mobile +375 44 754 78 39</a></li>
              <li class="cantact-item"><a href="#">linkedIn</a>
              </li>
              <li class="cantact-item"><a href="#">e-mail</a></li>
              <li class="cantact-item"><a href="#">skype</a></li>
            </ul>
          </section> 
        </aside>
        <section class="col-lg-9 col-sm-6 main-content">
          <section class="content name">
            <h1>Uladzimir Yasinski</h1>
            <span>Web-developer junior</span>
          </section>
          <section class="content educaton">
            <h2>education and qualification</h2>
              <ul class="edu-list">
                <li class="edu-item">
                  <p>Stormnet Technologies</p>
                  <p>6.09.2018-28.10.2018</p>
                  <p>Successfully completed software testing courses</p>
                </li>
                <li class="edu-item">
                    <p>Sukhoi State Technical University of Gomel</p>
                    <p>1.09.2011-30.06.2016</p>
                    <p>Faculty of energy</p>
                </li>
              </ul>
          </section>
          <section class="content expierence">
            <h2>Software testing course projects</h2>
              <ul class="exp-list">
                <li>Online store "24shop.by (wrote test-plan)"</li>
                <li>Online store "litecart.stqa.ru(wrote check-list, test-cases, wor in bug-tracking system Jira)"</li>
                <li>Site "apirequest.io" (tested API, worked in Postman)</li>
              </ul>
          </section>
          <section class="content skills">
            <h2>skills</h2>
            <ul class="skill-list">
              <li>QA theoretical knoledge</li>
              <li>Testing of web-application</li>
              <li>Testing of mobile application</li>
              <li>Work expierence with HTML, CSS, XML, JSON, JavaScript</li>
              <li>Understanding of agile methodologies</li>
            </ul>
          </section>
          <section class="content lang">
            <h2>languages</h2>
            <ul class="lang-list">
              <li>Russian - native</li>
              <li>English - pre-intermediate</li>
            </ul>
          </section>
        </section>
      </div>
    </main>
    {{>footer}}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>