<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title>Yasinski</title>
  </head>
  <body class="inner-page">
    <main>
      <div class="container">
          <div class="email-container col-md-3">
            <h3>Thanks</h3>
            <p class="email-content">I'll get acquainted as soon as possible</p>
            <a class="btn" href="/contacts">get back</a>
        </div>
      </div>
    </main>
  </body>
</html>