<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <title>Yasinski</title>
  </head>
  <body class="inner-page">
    {{>header}}
  <main>
    <div class="container">
      <ul class="works-list">
        <li class="works-item row">
          <div class="col-sm-6 col-md-4 col-lg-3 work-preview">
            <img class="work-image" src="/image/work1.jpg" alt="work1">
            <div class="work-buttons">
              <a class="btn work-btn" href="#">GIT</a>
              <a class="btn work-btn" href="#">preview</a>
            </div>
          </div>
          <div class="col-sm-6 col-md-8 col-lg-9 work-content">
            <h3 class="work-title">Lending</h3>
            <div class="work-description">
              <p>
                How one dull get busy dare far. Mrs assured add private married 
                removed believe did she. If as increasing contrasted entreaties 
                be. Uncommonly no it announcing melancholy an in. Happiness 
                remainder joy but earnestly for off. Do play they miss give so up. Their saved linen downs tears son add music.
              </p>
            </div>
            <h3 class="work-title">Used technologies</h3>
            <ol class="work-technologies-list">
              <li class="work-technologies-item">Html</li>
              <li class="work-technologies-item">css</li>
              <li class="work-technologies-item">JS</li>
              <li class="work-technologies-item">Bootstrap</li>
            </ol>
          </div>
        </li>
         <li class="works-item row">
          <div class="col-sm-6 col-md-4 col-lg-3 work-preview">
            <img class="work-image" src="/image/work1.jpg" alt="work1">
            <div class="work-buttons">
              <a class="btn work-btn" href="#">GIT</a>
              <a class="btn work-btn" href="#">preview</a>
            </div>
          </div>
          <div class="col-sm-6 col-md-8 col-lg-9 work-content">
            <h3 class="work-title">Lending</h3>
            <div class="work-description">
              <p>
                How one dull get busy dare far. Mrs assured add private married 
                removed believe did she. If as increasing contrasted entreaties 
                be. Uncommonly no it announcing melancholy an in. Happiness 
                remainder joy but earnestly for off. Do play they miss give so up. Their saved linen downs tears son add music.
              </p>
            </div>
            <h3 class="work-title">Used technologies</h3>
            <ol class="work-technologies-list">
              <li class="work-technologies-item">Html</li>
              <li class="work-technologies-item">css</li>
              <li class="work-technologies-item">JS</li>
              <li class="work-technologies-item">Bootstrap</li>
            </ol>
          </div>
        </li>
        <li class="works-item row">
          <div class="col-sm-6 col-md-4 col-lg-3 work-preview">
            <img class="work-image" src="/image/work1.jpg" alt="work1">
            <div class="work-buttons">
              <a class="btn work-btn" href="#">GIT</a>
              <a class="btn work-btn" href="#">preview</a>
            </div>
          </div>
          <div class="col-sm-6 col-md-8 col-lg-9 work-content">
            <h3 class="work-title">Lending</h3>
            <div class="work-description">
              <p>
                How one dull get busy dare far. Mrs assured add private married 
                removed believe did she. If as increasing contrasted entreaties 
                be. Uncommonly no it announcing melancholy an in. Happiness 
                remainder joy but earnestly for off. Do play they miss give so up. Their saved linen downs tears son add music.
              </p>
            </div>
            <h3 class="work-title">Used technologies</h3>
            <ol class="work-technologies-list">
              <li class="work-technologies-item">Html</li>
              <li class="work-technologies-item">css</li>
              <li class="work-technologies-item">JS</li>
              <li class="work-technologies-item">Bootstrap</li>
            </ol>
          </div>
        </li>
      </ul>
    </div>
    </main>
    {{>footer}}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>