<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <title>Yasinski</title>
  </head>
  <body class="inner-page">
    {{>header}}
  <main>
    <div class="container">
      <div class="work-content">
        <ul class="works-list">
           <li class="works-item row">
            <div class="col-sm-6 col-md-4 col-lg-4 work-preview">
              <img class="work-image" src="/image/work7.jpg" alt="work1">
              <div class="work-buttons">
                <a class="btn work-btn" href="https://github.com/yasinskydew/portfolio">GIT</a>
                <a class="btn work-btn" href="#">preview</a>
              </div>
            </div>
            <div class="col-sm-6 col-md-8 col-lg-8 work-content">
              <h3 class="work-title">Portfolio-site</h3>
              <div class="work-description">
                <p>This site was created by me I created using the 
                  knowledge gained in various online courses and sources. 
                  I haven't studied web design. The site was created to introduce my skills as a web developer.
                </p>
              </div>
              <h3 class="work-title">Used technologies</h3>
              <ol class="work-technologies-list">
                <li class="work-technologies-item">Html</li>
                <li class="work-technologies-item">css</li>
                <li class="work-technologies-item">JS</li>
                <li class="work-technologies-item">Node.js</li>
                <li class="work-technologies-item">Bootstrap</li>
                <li class="work-technologies-item">Vue.js</li>
                <li class="work-technologies-item">Express</li>
                <li class="work-technologies-item">Mongoose</li>
                <li class="work-technologies-item">Postman</li>
                <li class="work-technologies-item">Json Web Token</li>
                <li class="work-technologies-item">SendGrid</li>
                <li class="work-technologies-item">Heroku</li>
              </ol>
            </div>
          </li>
          <li class="works-item row">
            <div class="col-sm-6 col-md-4 col-lg-4 work-preview">
              <img class="work-image" src="/image/work6.jpg" alt="work1">
              <div class="work-buttons">
                <a class="btn work-btn" href="https://github.com/yasinskydew/task-manager-api">GIT</a>
                <a class="btn work-btn" href="#">preview</a>
              </div>
            </div>
            <div class="col-sm-6 col-md-8 col-lg-8 work-content">
              <h3 class="work-title">Task manager</h3>
              <div class="work-description">
                <p>For this application the Mongo database was used. 
                  Created a full backend for authentication and task management. 
                  To create a user interface for this application. Also covered the topic of 
                  testing the application during development.
                </p>
              </div>
              <h3 class="work-title">Used technologies</h3>
              <ol class="work-technologies-list">
                <li class="work-technologies-item">Html</li>
                <li class="work-technologies-item">css</li>
                <li class="work-technologies-item">JS</li>
                <li class="work-technologies-item">Node.js</li>
                <li class="work-technologies-item">Express</li>
                <li class="work-technologies-item">Mongoose</li>
                <li class="work-technologies-item">Postman</li>
                <li class="work-technologies-item">Json Web Token</li>
                <li class="work-technologies-item">SendGrid</li>
                <li class="work-technologies-item">Heroku</li>
              </ol>
            </div>
          </li>
            <li class="works-item row">
            <div class="col-sm-6 col-md-4 col-lg-4 work-preview">
              <img class="work-image" src="/image/work5.jpg" alt="work1">
              <div class="work-buttons">
                <a class="btn work-btn" href="https://github.com/yasinskydew/chat-app-v1/">GIT</a>
                <a class="btn work-btn" href="https://yasinski-chat-app.herokuapp.com">preview</a>
              </div>
            </div>
            <div class="col-sm-6 col-md-8 col-lg-8 work-content">
              <h3 class="work-title">Chat-app</h3>
              <div class="work-description">
                <p>
                  Educational project to create a chat application in real-time. 
                  Used socket.io, express, heroku for deploy.
                </p>
              </div>
              <h3 class="work-title">Used technologies</h3>
              <ol class="work-technologies-list">
                <li class="work-technologies-item">Html</li>
                <li class="work-technologies-item">css</li>
                <li class="work-technologies-item">JS</li>
                <li class="work-technologies-item">Node.js</li>
                <li class="work-technologies-item">Express</li>
                <li class="work-technologies-item">Socket.io</li>
                <li class="work-technologies-item">Heroku</li>

              </ol>
            </div>
          </li>
           <li class="works-item row">
            <div class="col-sm-6 col-md-4 col-lg-4 work-preview">
              <img class="work-image" src="/image/work4.jpg" alt="work1">
              <div class="work-buttons">
                <a class="btn work-btn" href="https://github.com/yasinskydew/weatherapp">GIT</a>
                <a class="btn work-btn" href="https://yasinsky-weather-app.herokuapp.com/">preview</a>
              </div>
            </div>
            <div class="col-sm-6 col-md-8 col-lg-8 work-content">
              <h3 class="work-title">Weather-app</h3>
              <div class="work-description">
                <p>
                  Educational project to create a weather application. 
                  I studied backend to deploy an application server. To do this, 
                  I took a course on the basics of nodes, express. 
                  Used third-party api data from mapbox.com and darksky.net
                </p>
              </div>
              <h3 class="work-title">Used technologies</h3>
              <ol class="work-technologies-list">
                <li class="work-technologies-item">Html</li>
                <li class="work-technologies-item">css</li>
                <li class="work-technologies-item">JS</li>
                <li class="work-technologies-item">Node.js</li>
                <li class="work-technologies-item">Express</li>
              </ol>
            </div>
          </li>
          <li class="works-item row">
            <div class="col-sm-6 col-md-4 col-lg-4 work-preview">
              <img class="work-image" src="/image/work3.jpg" alt="work1">
              <div class="work-buttons">
                <a class="btn work-btn" href="https://github.com/yasinskydew/yasinskydew.github.io">GIT</a>
                <a class="btn work-btn" href="https://yasinskydew.github.io/">preview</a>
              </div>
            </div>
            <div class="col-sm-6 col-md-8 col-lg-8 work-content">
              <h3 class="work-title">Adaptive-site-portfolio</h3>
              <div class="work-description">
                <p>
                  Educational project to create a one-page adaptive site. Using animation, connecting external fonts. 
                  On this project, I first started learning git and basics of javascript
                </p>
              </div>
              <h3 class="work-title">Used technologies</h3>
              <ol class="work-technologies-list">
                <li class="work-technologies-item">Html</li>
                <li class="work-technologies-item">css</li>
                <li class="work-technologies-item">JS</li>
                <li class="work-technologies-item">Bootstrap</li>
                <li class="work-technologies-item">GitHub</li>
              </ol>
            </div>
          </li>
          <li class="works-item row">
            <div class="col-sm-6 col-md-4 col-lg-4 work-preview">
              <img class="work-image" src="/image/work2.jpg" alt="work1">
              <div class="work-buttons">
                <a class="btn work-btn" href="https://github.com/yasinskydew/barbershop.io">git</a>
                <a class="btn work-btn" href="https://yasinskydew.github.io/barbershop.io/index.html">preview</a>
              </div>
            </div>
            <div class="col-sm-6 col-md-8 col-lg-8 work-content">
              <h3 class="work-title">Lending barbershop</h3>
              <div class="work-description">
                <p>
                   My second project from the ntml academy courses. Layout of psd.
                   Work with photoshop. When developing, I studied semantic markup and
                   visual effects.
                </p>
              </div>
              <h3 class="work-title">Used technologies</h3>
              <ol class="work-technologies-list">
                <li class="work-technologies-item">Html</li>
                <li class="work-technologies-item">css</li>
                <li class="work-technologies-item">Photoshop</li>
              </ol>
            </div>
          </li>
          <li class="works-item row">
            <div class="col-sm-6 col-md-4 col-lg-4 work-preview">
              <img class="work-image" src="/image/work1.jpg" alt="work1">
              <div class="work-buttons">
                <a class="btn work-btn" href="https://github.com/yasinskydew/keksby-html.io">GIT</a>
                <a class="btn work-btn" href="https://yasinskydew.github.io/keksby-html.io/">preview</a>
              </div>
            </div>
            <div class="col-sm-6 col-md-8 col-lg-8 work-content">
              <h3 class="work-title">Lending keksby</h3>
              <div class="work-description">
                <p>
                  My first job on frontend. Training project from courses HTML Academy. Training of fixed frontend.
                  Learning the basics html and css.
          
                </p>
              </div>
              <h3 class="work-title">Used technologies</h3>
              <ol class="work-technologies-list">
                <li class="work-technologies-item">Html</li>
                <li class="work-technologies-item">css</li>

              </ol>
            </div>
          </li>
        </ul>
      </div>
    </div>
    </main>
    {{>footer}}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
     <script src="/js/app.js"></script>
  </body>
</html>