<footer class="main-footer">
    <p class="social-list">
        <a class="social-item" href="#"><i class="fa fa-vk fa-lg" aria-hidden="true"></i></a>
        <a class="social-item" href="#"><i class="fa fa-linkedin fa-lg" aria-hidden="true"></i></a>
        <a class="social-item" href="#"><i class="fa fa-skype fa-lg" aria-hidden="true"></i></i></a>
        <a class="social-item" href="#"><i class="fa fa-telegram fa-lg" aria-hidden="true"></i></a>
    </p>
    <p class="copyright">Created by Yasinski Uladzimir</p>
</footer>