 <footer class="main-footer position-sticky">
    <p class="copyright">Created by Yasinski Uladzimir 2019</p>
    <div class="social">
        <a href="#" class="social-button"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
        <a href="#" class="social-button"><i class="fa fa-telegram fa-2x" aria-hidden="true"></i></a>
        <a href="#" class="social-button"><i class="fa fa-skype fa-2x" aria-hidden="true"></i></a>
        <a href="#" class="social-button"><i class="fa fa-vk fa-2x" aria-hidden="true"></i></a>
    </div>
</footer