 <footer class="main-footer position-sticky">
    <p class="copyright">Created by Yasinski Uladzimir 2019</p>
    <div class="social">
        <a href="https://www.linkedin.com/in/uladzimir-yasinski-810771173/" class="social-button"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.facebook.com/vladimir.yasinsky.3" class="social-button"><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/yasinskydev/" class="social-button"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
        <a href="https://vk.com/vova_yasik" class="social-button"><i class="fa fa-vk fa-2x" aria-hidden="true"></i></a>
    </div>
</footer>