   <header class="main-header sticky-top">
      <div class="container">
      <div class="row justify-content-md-center">
        <div class="col col-xl logo">
          <a href="/"><img src="./image/logo.svg" class="header-logo" width="80" height="35" alt="logo"></a>
        </div>
        <div class="col-md-auto">
        </div>
        <div class="col col-xl">
          <ul class="nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/works">Works</a>
              </li>
              <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/contacts">Contacts</a>
              </li>
            </ul>
        </div>
      </div>
    </div>
    </header>