/* header style */

@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

body{
    font-family: 'Barlow', sans-serif;
}

.nav-link{
    color:black;
}

.nav{
    display: flex;
    justify-content:center;
}

.nav-link:hover{
    color: #444444;
}

.nav-item{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.nav-item:hover{
    background-color: rgb(247, 247, 247, 0.6);
    transition-duration: 0.5s;

}

.main-header{
    background-color: rgb(73%, 73%, 73%, .9);
    margin-top: 15px;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.logo{
    display: none;
}



/* main style */

h2{
    font-size: 24px;
    padding: 10px 5px 5px 10px;
    text-transform: uppercase;
}

.inner-page {
    background-color: #BBBBBB;
}

.main-page {
    background-size:100%;
    background-color: rgb(29, 26, 26);
    background-image: url(.././image/background.jpg);
    background-repeat: no-repeat;
}

.hello-title{
    margin-top: 50%;
    text-align: center;
    font-size: 80px;
    color:white;
}
.title-content {    
    text-align: center;
    font-size: 30px;
    color: white;
}
.about-content{
    min-height: calc(100vh - 215px);
    margin-top:40px;
}


.main-content{
    padding-top: 40px;
    background-color: rgb(247, 247, 247, 0.6);
    margin:auto;
    padding-left: 40px;
    padding-bottom: 20px;
 
}

.photo{
    width: 100%;
    margin:0 auto;
    border-radius: 2px;
    
}

.content{   
    padding-bottom: 10px;
    border-bottom: 2px solid #7D89B5;
    font-size: 20px;
}

.lang{
    border-bottom: none;
    margin-bottom: 0;
}

.content ul{
    list-style: circle;
}

.side{
    border-bottom: 1px solid #7D89B5;
    font-size: 17px;
    margin-bottom:40px;
}

.contact-list{
   list-style: none;
    padding-left: 5px;

}

.contact-item a{
    text-decoration: none;
    color: black;
}

.head-nav {
    padding: 0;
}

/* footer style */

.main-footer{
    display: flex;
    flex-direction: column; 
    align-items: center;  
    justify-content: center;
    background-color: rgb(27%, 27%, 27%, 0.8);
    min-height: 120px;
}



.copyright{
    padding-right: 15px;
    color: #FFFFFF;
}
.social{
    padding-right:10px;
}

.social-button{
    color: white;
}
.social i{
    padding: 10px;
    border-radius: 10px;

}
.social i:hover {   
    transition-property: background-color;
    transition-duration: 0.5s;
    transform: scale(1.2);
    color: #444444;
    background-color: rgb(247, 247, 247, 0.6);
 
}

/* work page style */

.works-list{
    background-color: rgb(247, 247, 247, 0.6);
    padding:30px;
    list-style: none;
    margin-top:40px;
}

.work-content ol {
    margin-left:10px;
}

.work-description p{
    text-indent: 10px;
}

.work-preview {
    align-content: center;
}
.works-item{
    margin-bottom: 40px
}

.work-title{
    padding-left: 10px;
}
.work-image{
    width: 100%;
}

.work-buttons{
    display: flex;
    justify-content: space-around;
    
}
.btn{
    color: #FFFFFF;
    background-color: rgb(27%, 27%, 27%, 0.8);    
    height: 50px;
    width: 50%;
    padding-top: 10px;
    border-radius:0;
    margin-bottom:20px;
}
.btn:hover {   
    transition-property: background-color;
    transition-duration: 0.1s;
    color: #444444;
    background-color: rgb(247, 247, 247, 0.6);
 
}

.work-technologies-list{
    margin: 0;
    padding-left: 15px;
}

/* contact page style */
.contacts-content{
    min-height: calc(100vh - 175px);
    padding:40px 0;
}

.contacts-preview{
    background-color: rgb(247, 247, 247, 0.6);
}
.contacts-list {
    margin:10px;
    padding: 0;
    list-style: none;
}

.feedback-word{
    font-size: 60px;
    font-style: italic;
    padding-bottom:35px;
    padding-top:15px;
    text-align: center;
}
.contacts-item{
    font-size:22px;
    margin: 15px;
}
.button-wrapper{
    display: flex;
    justify-content:flex-end;
}
.form-btn{
    text-transform: uppercase;
    margin-left:15px;
    padding-top:6px;
    width: 100px;
}
.form-label {
    display: block;
    text-transform: uppercase;
    margin: 10px 0; 
}   
.feedback-text{
    text-align: center;
    width:70%;
    font-size:24px;
    text-indent: 10px;
    display: block;
    margin: 0 auto;
    padding-top:15px;
    min-width:300px;
}

.feedback-image {
    width:100%;
}

.feedback-form {
    margin: 0 auto;
}

.feedback-form label {
    padding-left:10px;
}
#email,
#comment{
    width:100%;
    padding-left:10px;
}


.email-container{
    max-width: 250px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 247, 247, 0.6);
    padding: 30px;
    margin: 40px auto;

}

.email-content{
    text-align: center;
}

@media (min-width:576px) {
    .hello-title{
        margin-top: 50px;
    }

    .nav {
        display: flex;
        justify-content: flex-end;
    }

    .logo {
        display: block;
    }

    .feedback-form {
        margin: 0 auto;
        width: 70%;
    }
    .feedback-word{
        text-align: left;
        padding-left: 28px;
    }
    .feedback-text{
        text-align: left;
    }

}

@media (min-width: 730px) {
    .hello-title{
        margin-top: 80px;
    }
}